@charset "utf-8";

*{
	margin  : 0;
	padding : 0;
}

@font-face {
    font-family: "Test";
    src: url("Univers LT Std 67 Bold Condensed.otf");
}

body {
  margin: 0;
  background-color: #e2e2dc;
  font-family: 'Test', sans-serif;
}

header{
	background-color : white;		
	text-align : left;	
}

/* ////// MENU NAVIGATION \\\\\\\ */

.MenuNavigation{
	color: black;
	display:flex;
	position: relative;
	height: 100px;
    font-size: 100%;
}

.NavFirstChild{
	border-left: 1px solid grey;
}

.MenuNavigation a:not(.logoHref) {
	border-right: 1px solid grey;
	display: flex;
	align-items: center;
	padding: 0% 9.37% 0% 9.37%;
	transition: background-color .2s ease-in-out,box-shadow 0.5s;
	color: black;
	text-decoration: none;
}

.logoImg {
	height: 100%;
}

.MenuNavigation a:hover{
	box-shadow: 2px 2px 10px black;
	background-color: #ECECEC;
}

/* ////// IMAGE AVEC TITRE \\\\\\\ */

.ImageMenu {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../Images/menu.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 50%;
	padding: 11%;
}

.TextBlock1 {
  position: absolute;
  font-size: 300%;
  bottom: 50%;
  right: 57%;
  background-color: black;
  color: white;
  padding: 0.25% 0.5% 0.25% 0.5%;
}

.TextBlock2 {
  position: absolute;
  font-size: 175%;
  bottom: 35%;
  right: 82.5%;
  background-color: white;
  color: black;
  padding: 0.25% 0.5% 0.25% 0.5%;
  border-radius : 1rem;
}

/* ////// CONTENU CENTRALE \\\\\\\ */

main {
	text-align : center;
}


/* ////// BLOCS DES COURS \\\\\\\ */

.grandTitre {
	font-size: 350%;
	padding-top: 6%;
	padding-bottom: 1%;
}
.credit {
	font-size: 150%;
}

.allSpe {
	display:block;
}

.specialites{
	padding-top: 5%;
	padding-left: 12%;
	font-size: 275%;
	text-align: left;
}

.descSpecialites {
	display: flex;
	position: relative;
	padding: 0% 12% 5% 12%;
	justify-content: space-around;
}

/* ////// BLOCS DE GAUCHE \\\\\\\ */

.leftBloc {
	padding: 5% 7% 5% 7%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 125%;
	flex: 50%;
}

.specialites:nth-of-type(1) + .descSpecialites .leftBloc {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/soldats2.jpeg");
}

.specialites:nth-of-type(2) + .descSpecialites .leftBloc {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/terre.jpg");
}

.specialites:nth-of-type(3) + .descSpecialites .leftBloc {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/air1.jpg");
}

.specialites:nth-of-type(4) + .descSpecialites .leftBloc {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/ship.jpg");
}

.typeSpe {
	padding: 0% 0% 20% 0%;
	font-size: 220%;
	color: orange;
}

.descSpe {
	font-size: 120%
}

.matieresSpe {
	padding-top: 15%;
	font-size: 200%;
}

/* ////// BLOCS DE DROITE \\\\\\\ */

.rightBloc {
	font-size: 150%;
	background-color: white;
	padding: 3.5% 5% 2% 5%;
	flex: 50%;
}

.rightBloc div {
	display:block;
	padding: 5% 0% 5% 5%;
}

.rightBloc div h2{
	color: rgb(204, 133, 0);
}

/* ////// BAS DE PAGE \\\\\\\ */

footer {
	background-color : black;
	color: white;
	padding: 2%;
}

.infos{
	
	display: flex;
	justify-content: space-around;
}

.infos div{
	
	padding: 0% 10% 0% 10%;
}

.infos h4{
	
	font-size: 125%;
}